.evaluationCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
}

.userInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.watchedOn {
    color: var(--quinary);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.watchedOnComponent{
    color: var(--primary);
    font-size: 0.7rem;
    font-weight: 500;
    display: flex;
    margin-top: .5vh;
}